.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  transition: background-color 0.5s ease, color 0.5s ease;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.App.day {
  background-color: #f5f5dc;
  color: #333;
}

.App.night {
  background-color: #0d1b2a;
  color: #f8f9fa;
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease, background-image 0.5s ease;
  width: 300px;
  height: 150px;
  font-size: 1.5em;
  font-weight: bold;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.App.day .theme-toggle {
  background-color: #e0f7fa;
  background-image: url('day.jpg');
  color: #333;
}

.App.night .theme-toggle {
  background-color: #003d79;
  background-image: url('night.jfif');
  color: #ffffff;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 200px;
  margin-top: 180px;
  width: 100%;
}

.flashcard-set-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
}

.new-set, .flashcard-set, .create-new-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

@media (min-width: 768px) {
  .new-set, .flashcard-set, .create-new-set {
    width: calc(33.333% - 20px);
  }
}

@media (max-width: 768px) {
  .new-set, .flashcard-set, .create-new-set {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .new-set, .flashcard-set, .create-new-set {
    width: calc(100% - 20px);
  }
}

.edit-page .theme-toggle, 
.revise-page .theme-toggle {
  display: none;
}

.create-set,
.edit-set {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 200px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1976d2;
}

.flashcard-container {
  position: relative;
  width: 80%;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.flashcard-container.known {
  transform: translateX(100vw);
  background-color: #c8e6c9;
}

.flashcard-container.unknown {
  transform: translateX(-100vw);
  background-color: #ffccbc;
}

.flashcard {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  cursor: pointer;
}

.flashcard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flashcard.flip .flashcard-inner {
  transform: rotateY(180deg);
}

.flashcard-front,
.flashcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.flashcard-front {
  background-color: #fff;
  color: #333;
}

.flashcard-back {
  background-color: #333;
  color: #fff;
  transform: rotateY(180deg);
}

.revise-set {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background-color: #fdf5e6;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.dont-know-button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.know-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dont-know-button:hover {
  background-color: darkorange;
}

.know-button:hover {
  background-color: darkgreen;
}
